@import '../../scss/index.scss';

.dark {
	background-color: $grey !important;
}

.header {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 20px 40px;
	box-shadow: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
	z-index: 2;
	background-color: #fff;
	&__wrapper {
		min-width: 200px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& a:nth-child(2) {
			padding: 3.75px;
		}

		& a:nth-child(3) {
			border-radius: 50%;
			background-color: $main-white;
		}
	}

	&__img {
		box-sizing: border-box;
		width: 45px;
		height: 45px;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}