@import '@scss/index.scss';

.dark {
	background-color: $grey !important;
	.header {
		box-shadow: $box-shadow-dark !important;
	}
}

.header {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 20px 40px;
	box-shadow: $box-shadow-light;
	z-index: 4;
	background-color: #fff;

	&__wrapper {
		min-width: 200px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& a:nth-child(2) {
			padding: 3.75px;
		}

		& a:nth-child(3) {
			border-radius: 50%;
			background-color: $main-white;
		}
	}

	&__img {
		box-sizing: border-box;
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: 90%;
			height: 100%;
		}
	}
}

@media screen and (max-width: 580px) {

	.header {
		padding: 10px 30px;
	}
}