@import '@scss/index.scss';

.select {
	width: 100%;
}

@media screen and (max-width: 2561px) {
	.select {
		width: 104%;
	}
}

@media screen and (max-width: 1441px) {
	.select {
		width: 108%;
	}
}

@media screen and (max-width: 426px) {
	.select {
		width: 115%;
	}
}