@import '@scss/base/variables.scss';

.mainWrapper {
	display: flex;
	position: relative;
	height: 100vh;
}

.container {
	background-color: $white;
	overflow: auto;
	flex-grow: 1;
}

@media screen and (max-width: 535px) {
	.container {
		width: calc(100% - $sidebar-width-closed_mobile);
		margin-left: $sidebar-width-closed_mobile;
	}
}