@import '@scss/base/variables.scss';

.mainWrapper {
	display: flex;
	position: relative;
	height: 100vh;
}
.container {
	background-color: $white;
	overflow: auto;
	flex-grow: 1;
	// &_open {
	// 	width: calc(100% - $sidebar-width-open);
	// 	margin-left: $sidebar-width-open;
	// }

	// &_closed {
	// 	width: calc(100% - $sidebar-width-closed);
	// 	margin-left: $sidebar-width-closed;
	// }
}
