@import '@scss/index.scss';

.btn {
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	&_filled {
		background-color: $light-blue;
		color: $white;
		&:hover {
			background-color: $blue;
		}
	}

	&_outlined {
		border: 1px solid $lighter-blue;
		color: $black;
		cursor: unset;
		&:hover {
			background-color: $lighter-blue;
		}
	}
}

@media screen and (max-width: 450px) {
	.btn {
		padding: 10px;
	}
}