.wrapper {
	margin: 100px 400px;
}

.form {
	display: block;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&-item {
		position: relative;
		padding: 0px 39%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__error {
			position: absolute;
			bottom: -5%;
			left: 39%;
			color: #EB5757;
		}
	}
}