.wrapper {
	margin: 100px 400px;
}

.form {
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: max-content;

	&-item {
		padding: 0 3%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__error {
			position: absolute;
			left: 2%;
			bottom: -2%;
			color: #EB5757;
		}

		&__radio {
			bottom: -15%;
		}

		&__checkbox {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: flex-start;
			margin-bottom: 15px;
		}

		&__language {
			z-index: 9999;
		}

		&__terms {
			margin-bottom: 20px;
		}
	}
}

.rangeSlider {
	&__footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}