@media screen and (max-width: 1025px) {
	main {
		width: calc(100% - 50px - 300px);
		grid-template-columns: 200px 1fr 200px;
		margin-left: 300px;
		padding: 30px 25px;
		padding-top: 120px;
	}

	main section, aside {
		padding: 18px 16px;
	}

	.nav {
		box-sizing: border-box;
		width: 250px;
		height: 100vh;

		&_closed {
			width: 100px;
		
			& + main {
				width: calc(100% - 50px - 100px);
				margin-left: 100px;
			}

			& + main .services {
				grid-column: 2/3;
			}

			& + main .latest {
				height: 680px;
			}
		}

		&__list{
			&-item {
				width: 100%;
			}
		}
	}

	.latest {
		height: 345px;
	}

	.experts__wrapper {
		column-gap: 2.5em;
	}

	.services {
		box-sizing: border-box;
		grid-column: 1/-1;
		grid-row: 2/3;
		&__wrapper {
			gap: 4px;
		}
	}

	.marquee {
		&__wrapper {
			width: 400%;
		}
	}
}

@media screen and (max-width: 769px) {
	.nav {
		&_open {
			width: 200px;

			& + main {
				width: calc(100% - 40px - 200px);
				margin-left: 200px;
				padding: 25px 20px;
				padding-top: 120px;
			}
		}

		&_closed .services-item__text {
			white-space: nowrap;
		}
	}

	.stats__diagram {
		padding: 0;
	}

	.experts__header, .services__header {
		text-align: center;
	}

	.experts__item {
		justify-content: center;
	}

	.latest {
		height: 620px;
	}

	.services {
		&-item {
			&__text {
				white-space: unset;
			}

			&__img {
				padding: 10px;
			}
		}
	}
}

@media screen and (max-width: 570px) {
	main {
		padding: 20px 10px;
		grid-template-columns: 1fr 1fr;
		gap: 20px 0;
	}

	.header {
		padding: 10px 30px;
	}

	.nav {
		padding: 32px 10px;

		&_open {
			width: 200px;

			& + main {
				box-sizing: border-box;
				width: 100%;
				padding-top: 80px;
				z-index: -1;
			}
		}

		&_closed {
			width: 70px;

			&  .nav__arrow {
				top: 65px;
				right: -20px;

				&  img {
					width: 50px;
					height: 50px;
				}
			}
		}

	}

	.stats {
		grid-column: 1/3;
	}

	.aside {
		display: none;
	}

	.subgrid {
		grid-column: 1/3;
	}

	.experts, .services {
		box-sizing: border-box;
		padding: 15px;
		width: 100%;
	}

	.experts__wrapper {
		grid-template-columns: 200px;
	}

	.services {
		margin-left: 0;

		&__wrapper {
			grid-template-columns: 1fr;
		}
	}

}