@media screen and (max-width: 1025px) {
	main {
		grid-template-columns: 200px 1fr 200px;
		padding: 30px 25px !important;
		padding-top: 120px !important;
	}

	main section,
	aside {
		padding: 18px 16px;
	}
}

@media screen and (max-width: 550px) {
	main {
		padding: 30px 10px !important;
		padding-top: 120px !important;
	}

	main section,
	aside {
		padding: 10px 7px;
	}

}