$white: #eff2f4;
$main-white: #bcdffb;
$lighter-grey: #667a8a;
$light-grey: #5d7285;
$grey: #333;
$lighter-blue: #e9f5fe;
$light-blue: #2196f3;
$blue: #0c7fda;
$sidebar-width-open: 300px;
$sidebar-width-closed: 100px;
$sidebar-width-closed_mobile: 70px;
$main-padding: 32px;
$green: #07c274;

$box-shadow-light: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
$box-shadow-dark: 0px 8px 24px 0px rgba(34, 34, 34, 0.25);

$black: #434343