@import '@scss/index.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	position: relative;
}

.form__wrapper {
	padding: 30px;
	width: max-content;
	height: 55vh;
	align-self: center;
}

.buttons {
	position: absolute;
	bottom: 5%;
	left: 43%;
	&_right{
		margin-right: 30px;
	}
}