@import '@scss/index.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	position: relative;
}

.form__wrapper {
	padding: 30px;
	width: max-content;
	align-self: center;
}

.buttons {
	margin-top: 10%;
	margin-left: 15%;

	&_right {
		margin-right: 30px;
	}
}