@import '@scss/index.scss';

.label {
	color: $black;
	margin-bottom: 8px;
	margin-top: 10px;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;

	&__dark {
		color: $white;
	}
}

@media screen and (max-width: 450px) {
	.label {
		margin: 5px;
	}
}