@import '../../scss/index.scss';

.dark {
	background: $grey;
	.nav__list-item {
		span {
			color: $white;
		}
		svg {
			fill: $white;
		}

		&:hover {
			background-color: $lighter-grey;
			span {
				color: $grey;
			}
			svg {
				fill: $white;
			}
		}
	}

	.logo__text {
		color: $white;
	}
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 32px 20px;
	z-index: 3;
	box-shadow: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
	box-sizing: border-box;
	width: 100%;
	transition: all 0.4s;
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		margin-top: 50px;
		&-item {
			text-decoration: none;
			color: $lighter-grey;
			width: 253px;
			padding: 7px;
			height: auto;
			padding: 3px;
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			margin-bottom: 15px;
			font-family: Poppins;
			svg {
				fill: $lighter-grey;
			}
			&:last-child {
				margin-bottom: 0;
			}

			& span {
				margin-left: 15px;
			}

			& svg {
				width: 30px;
				height: 30px;
				padding: 7px;
			}

			&:hover {
				color: $blue;
				background-color: $lighter-blue;
				font-weight: 600;
				border-radius: 3.659px;
			}

			&:hover svg {
				fill: $blue;
			}
		}
	}

	&__logout {
		width: 100%;
		box-sizing: border-box;
		background-color: $lighter-grey;
		display: flex;
		align-items: center;
		color: white;
		padding: 7px 14px;
		font-weight: 600;
		border-radius: 3.659px;
		margin-top: auto;
		text-decoration: none;
		& img {
			margin-right: 15px;
		}

		& p {
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}

	&__arrow {
		position: absolute;
		top: 95px;
		right: -35px;
	}

	.logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $lighter-grey;
		&__wrapper {
			width: 27px;
			height: 27px;
			background-color: #2196f3;
			border-radius: 7.318px;
			padding: 4px;
			margin-right: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__text {
			margin: 0;
		}
	}

	&_open {
		max-width: $sidebar-width-open;
	}

	&_closed {
		box-sizing: border-box;
		max-width: $sidebar-width-closed;
		border-radius: 7.318px;

		& + main {
			width: calc(100% - ($main-padding * 2) - $sidebar-width-closed);
			margin-left: $sidebar-width-closed;
		}

		& .logo {
			justify-content: center;
			&__wrapper {
				margin-right: 0;
			}

			h2 {
				display: none;
			}
		}

		& .nav__list img {
			width: 30px;
			height: 30px;
			padding: 7px;
		}

		& .nav__list {
			padding-inline-start: 0;
		}

		& .nav__list-item, .active {
			width: auto;
			padding: 0 7px;
		}

		& .nav__list-item span, .active span {
			display: none;
		}

		& .nav__logout {
			justify-content: center;
		}

		& .nav__logout img {
			margin-right: 0;
		}

		& .nav__logout p {
			display: none;
		}

		& .nav__arrow {
			top: 80px;
			transform: rotate(-180deg);
		}
	}
	.active {
		color: $blue;
		background-color: $lighter-blue;
		font-weight: 600;
		border-radius: 3.659px;
		svg {
			fill: $blue;
		}
	}
}
