@import '@scss/index.scss';

.profile {
	&__header {
		margin-bottom: 20px;
	}
	&__wrapper {
		overflow: hidden;
	}
	&__bg {
		margin-top: -24px;
		margin-left: -20px;
		width: calc(100% + 40px);
		height: 10em;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__img {
		position: relative;
		margin-left: 50px;
		width: 200px;
		height: 200px;
		background-color: $lighter-blue;
		border-radius: 50%;
		overflow: hidden;
		margin-top: -80px;
		z-index: 2;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__form {
		margin: 0 auto;
		margin-top: 50px;
		width: 30vw;
		label {
			justify-content: start;
			margin-left: 10px;
		}
		&__button {
			margin-top: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-item {
			position: relative;
			&__error {
				position: absolute;
				bottom: -5px;
				left: 5px;
				font-weight: 600;
				font-size: 16px;
				color: #EB5757;
			}
		}
	}

	&__info{
		display: flex;
		
		&__wrapper {
			margin-top: 30px;
			margin-left: 50px;
		}
		&-item {
			margin-bottom: 30px;
		}
	}
}