@import '@scss/index.scss';

.textarea {
	background: transparent;
	width: 100%;
	padding: 16px;
	border-radius: 8px;
	border: 2px solid #CCC;
	font-size: 16px;
	margin-bottom: 20px;
	resize: none;
	font-family: 'Epilogue', sans-serif;
	box-sizing: border-box;
	&__dark {
		border: 2px solid #CCC;
		color: #CCC;
	}
}