@import '@scss/index.scss';

.input {
	padding: 16px;
	border-radius: 8px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	width: 400px;
	font-size: 16px;

	&__dark {
		background: $grey;
		border: 1px solid #fff;
		color: #fff;
	}

	&__checkbox {
		margin: 0;
		width: auto;
		margin-right: 15px;
	}

	&__error {
		border: 1px solid #EB5757;
	}
}