@import '@scss/index.scss';

.input {
	padding: 16px;
	border-radius: 8px;
	border: 2px solid #CCC;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	background: transparent;
	&__dark {
		border: 2px solid #fff;
		color: #fff;
		&:disabled {
			border: 2px solid #939393 !important;
		}
	}

	&:disabled {
		border: 2px solid #d9d9d9;
	}

	&__checkbox {
		appearance: none;
		margin: 0;
		padding: 10px;
		width: auto;
		margin-right: 15px;
		width: 5px;
		height: 5px;
		background-color: $lighter-blue;
		border: 3px solid $light-grey;
		&__wrapper {
			position: relative;
		}
		&:hover {
			border: 3px solid $light-blue;
		}

		&:checked {
			border: 3px solid $light-blue;
		}

		&:hover:checked:before {
			background-color: #52adf7;
		}
	
		&:checked:before{
			content: "";
			display: block;
			position: absolute;
			text-align: center;
			height: 24px;
			width: 24px;
			left: 0%;
			top: 0%;
			background-color: $light-blue;
			border-radius: 8px;
		}

		&:checked:after{
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
			display: block;
			position: absolute;
			left: 15%;
			top: 18%;
		}
	}

	&__error {
		border: 2px solid #EB5757;
	}

	
}