.stats {
	grid-column: 1/3;

	&__diagram {
		box-sizing: border-box;
		padding: 0 50px;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: 100%;
			height: 335px;
			object-fit: contain;
		}
	}

	&__header {
		margin-top: 25px;
	}
}