@import '@scss/index.scss';

:root {
	.css-1nmdiq5-menu {
		div:hover{
			background-color: red;
		}
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Epilogue', sans-serif;
}

main {
	padding: 120px $main-padding 50px;
	box-sizing: border-box;
	transition: all 0.4s;
}


.light {
	& main {
		background-color: $white;

		& section, aside {
			background: white;
		}

		& h1, h2, h3 {
			color: $grey;
		}

		& .header {
			background: #FFF;
		}

		& .nav {
			background-color: #fff;
		}

	}
}

.dark {
	background-color: $grey;
	& main {
		background-color: $black;
		& section, aside {
			background: $grey;
		}

		& h1, h2, h3, h4, p, li {
			color: $white;
		}
	}

	& .header {
		background: $grey;
	}

	& .nav {
		background-color: $grey;
	}
}

main section,
aside {
	border-radius: 8px;
	padding: 24px 20px;
	box-shadow: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
}

h1,
h2 {
	margin: 0;
	
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
}

h3 {
	margin: 0;
}