@import '@scss/index.scss';


body {
	margin: 0;
	padding: 0;
	font-family: 'Epilogue', sans-serif;
}

main {
	width: 100%;
	padding: 120px $main-padding 50px;
	box-sizing: border-box;
	transition: all 0.4s;
}

a {
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: $white;
}



ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}

}

// #password {
// 	p {
// 		width: 80%;
// 	}
// }

.dark {
	background-color: $grey;

	& main {
		background-color: $black;

		& section,
		aside {
			background: $grey;
		}

		& h1,
		h2,
		h3,
		h4,
		p,
		li {
			color: $white;
		}
	}

	& nav,
	& header,
	& aside,
	& section {
		box-shadow: $box-shadow-dark;
	}

	& .header {
		background: $grey;
	}

	& .nav {
		background-color: $grey;
	}
}

main section,
aside {
	border-radius: 8px;
	padding: 24px 20px;
	box-shadow: $box-shadow-light;
}

h1,
h2 {
	margin: 0;

}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
}

h3 {
	margin: 0;
}