@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;600&family=Inter:wght@400;500&family=Nunito:wght@400;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@400;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Epilogue', sans-serif;
	color: #5D7285;
}

main {
	width: calc(100% - 64px - 300px);
	background-color: #EFF2F4;
	position: absolute;
	top: 95px;
	left: 300px;
	padding: 40px 32px;
	display: grid;
	grid-template-columns: 305px 1fr 305px;
	grid-auto-rows: auto;
	gap: 32px 20px;
}

main section, aside {
	border-radius: 8px;
	background: #FFF;
	padding: 24px 20px;
	box-shadow: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
}


h1, h2 {
	margin: 0;
	color: #333;
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
}

h3 {
	margin: 0;
}

figure {
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.header {
	background: #FFF;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 20px 40px;
	box-shadow: 0px 8px 24px 0px rgba(136, 136, 136, 0.25);
	z-index: 2;
}

.header div:nth-child(1) {
	margin-right: 22px;
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	padding: 32px 20px;
	background-color: #fff;
	z-index: 3;
}

.nav_open {
	height: 95vh;
	width: fit-content;
	box-shadow: 0px 3.12501px 35.15638px 0px rgba(0, 0, 0, 0.08);
}

.logo {
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}

.logo__wrapper {
	width: 27px;
	height: 27px;
	background-color: #2196F3;
	border-radius: 7.318px;
	padding: 4px;
	margin-right: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo__text {
	margin: 0;
	color: #5D7285;
}

.nav_closed {
	box-sizing: border-box;
	width: 100px;
	height: 100vh;
	border-radius: 7.318px;
	box-shadow: 0px 3.65918px 54.88764px 0px rgba(0, 0, 0, 0.15);
}

.nav_closed + main {
	width: calc(100% - 64px - 100px);
	left: 100px;
}

.nav_closed .logo {
	justify-content: center;
}

.nav_closed .logo h2 {
	display: none;
}

.nav_closed .logo__wrapper {
	width: 34px;
	height: 34px;
	margin-right: 0;
}

.nav_closed .nav__list img {
	width: 30px;
	height: 30px;
	padding: 7px;
}

.nav_closed .nav__list {
	padding-inline-start: 0;
}

.nav_closed .nav__list-item {
	width: auto;
	padding: 0 7px;
}

.nav_closed .nav__list-item span {
	display: none;
}

.nav_closed .nav__logout {
	justify-content: center;
}

.nav_closed .nav__logout img {
	margin-right: 0;
}

.nav_closed .nav__logout p {
	display: none;
}

.nav__arrow {
	position: absolute;
	top: 95px;
	right: -35px;
}

.nav_closed .nav__arrow {
	top: 80px;
	transform: rotate(-180deg);
}

.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 0;
}

.nav__list-item {
	width: 253px;
	padding: 7px;
	height: auto;
	padding: 3px;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
	font-family: Poppins;
}

.nav__list-item:last-child {
	margin-bottom: 0;
}

.nav__list-item span {
	margin-left: 15px;
}

.nav__list-item svg {
	width: 30px;
	height: 30px;
	padding: 7px;
}

.nav__list-item:hover {
	color: #0C7FDA;
	background-color: #E9F5FE;
	font-weight: 600;
	border-radius: 3.659px;
}

.nav__list-item:hover svg {
	fill: #0C7FDA;
}

.nav__logout {
	width: 100%;
	box-sizing: border-box;
	background-color: #667A8A;
	display: flex;
	align-items: center;
	color: white;
	padding: 7px 14px;
	font-weight: 600;
	border-radius: 3.659px;
	margin-top: auto;
}

.nav__logout img {
	margin-right: 15px;
}

.nav__logout p {
	margin-block-start: 0;
    margin-block-end: 0;
}

.stats {
	grid-column: 1/3;
}

.stats__diagram {
	box-sizing: border-box;
	padding: 0 50px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stats__diagram img {
	width: 100%;
	height: 335px;
	object-fit: contain;
}

.stats__header {
	margin-top: 25px;
}

.subgrid {
	grid-column: 2/4;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	row-gap: 20px;
}

.aside {
	overflow: scroll;
	box-sizing: border-box;
	height: 450px;
}

.experts, .services {
	padding: 20px;
}

.experts__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	margin-top: 20px;
	column-gap: 4.5em;
	row-gap: 1.8em;
}

.experts__item {
	display: flex;
	align-items: center;
}

.experts__item-descr {
	margin-left: 15px;
}

.experts__item-name {
	font-size: 16px;
	color: #333;
	margin: 0;
}

.experts__item-pos {
	color: #000;
	font-size: 12px;
	margin: 5px 0;
	font-weight: 400;
}

.experts__item-exp {
	color: #5D7285;
	font-size: 10px;
	font-weight: 400;
	margin: 0;
}

.aside-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 16px;
}

.aside-item:last-child {
	margin-bottom: 0;
}

.aside-item__header {
	color: #333;
	font-size: 16px;
	margin: 0;
}

.aside-item img {
	width: 56px;
	height: 56px;
	margin-right: 12px;
	border-radius: 6.995px;
}

.aside-item__text {
	color: #5D7285;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
	margin-top: 10px;
}

.latest {
	grid-column: 1/2;
	height: 530px;
}

.services__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-template-rows: auto;
	gap: 16px 20px;
}

.services-item {
	color: #333;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.services-item:last-child{
	margin-bottom: 0;
}

.services-item__img {
	padding: 18px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: #E9F5FE;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-item__header {
	font-size: 16px;
}

.services-item__text {
	font-size: 12px;
	white-space: pre-line;
	margin: 0;
	margin-top: 8px;
	line-height: 12px;
}

.marquee {
	display: flex;
	justify-content: space-between;
	grid-column: 1/4;
	padding: 20px;
	flex-wrap: wrap;
}

.marquee-item {
	color: #333;
	font-size: 16px;
}

.slider {
	text-align: center;
	grid-column: 1/4;
}

@media screen and (max-width: 1025px) {
	main {
		width: calc(100% - 50px - 250px);
		grid-template-columns: 200px 1fr 200px;
		left: 250px;
		padding: 30px 25px;
	}

	main section, aside {
		padding: 18px 16px;
	}

	.nav {
		box-sizing: border-box;
		width: 250px;
		height: 100vh;
	}

	.nav_closed {
		width: 100px;
	}

	.nav_closed + main {
		width: calc(100% - 50px - 100px);
		left: 100px;
	}
	.nav__list-item {
		width: 100%;
	}

	.latest {
		height: 341px;
	}

	.experts__wrapper {
		column-gap: 2.5em;
	}

	.services {
		box-sizing: border-box;
		width: calc(100% + 200px + 20px);
		margin-left: -220px;
	}

	.services__wrapper {
		gap: 4px;
	}
}

@media screen and (max-width: 769px) {
	.nav_open {
		width: 200px;
	}

	.nav_open + main {
		width: calc(100% - 40px - 200px);
		left: 200px;
		padding: 25px 20px;
	}

	.stats__diagram {
		padding: 0;
	}

	.experts__header, .services__header {
		text-align: center;
	}

	.experts__item {
		justify-content: center;
	}

	.latest {
		height: 620px;
	}

	.services-item__text {
		white-space: unset;
	}

	.nav_closed .services-item__text {
		white-space: nowrap;
	}

	.services-item__img {
		padding: 10px;
	}
}

@media screen and (max-width: 570px) {
	main {
		padding: 15px 10px;
		grid-template-columns: 1fr 1fr;
		gap: 20px 0;
	}

	.header {
		padding: 10px 30px;
	}

	.nav {
		padding: 32px 10px;
	}

	.nav_closed {
		width: 70px;
	}

	.nav_closed .nav__arrow {
		top: 55px;
	}

	.nav_open {
		width: 200px;
	}

	.nav_open + main {
		box-sizing: border-box;
		width: 100%;
		top: 70px;
		left: 0;
		z-index: -1;
	}

	.nav_closed + main {
		width: calc(100% - 70px - 20px);
		top: 70px;
		left: 70px;
		z-index: -1;
	}

	.nav_closed .nav__arrow {
		top: 65px;
		right: -20px;
	}

	.nav_closed .nav__arrow img {
		width: 50px;
		height: 50px;
	}

	.stats {
		grid-column: 1/3;
	}

	.aside {
		display: none;
	}

	.subgrid {
		grid-column: 1/3;
	}

	.experts, .services {
		box-sizing: border-box;
		padding: 15px;
		width: 100%;
	}

	.experts__wrapper {
		grid-template-columns: 200px;
	}

	.services {
		margin-left: 0;
	}

	.services__wrapper {
		grid-template-columns: 1fr;
	}
}


