@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;600&family=Inter:wght@400;500&family=Nunito:wght@400;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@400;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Epilogue', sans-serif;
}

.header {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 37px;
}

.header div:nth-child(1) {
	margin-right: 22px;
}

.logo {
	display: flex;
}

.logo__wrapper {
	width: 27px;
	height: 27px;
	background-color: #2196F3;
	border-radius: 7.318px;
	padding: 4px;
}