@import '../../scss/index.scss';

.slider {
	text-align: center;
	grid-column: 1/4;
	padding: 32px 20px;

	&__subheader {
		color: #555C68;
		font-size: 20px;
		font-weight: 400;
	}

	&__carousel {
		padding-top: 75px;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		padding-bottom: 60px;
		&__wrapper {
			display: flex;
			justify-content: space-between;
			padding: 60px;
		}

		&-slide {
			padding: 32px 60px;
			width: 60%;
			background-color: $lighter-blue;
			border-radius: 10px;
			height: 100%;
			box-sizing: border-box;
			box-shadow: none;
			transform: scale(0.8) !important;

			&__img {
				margin-bottom: 16px;
			}

			&__name {
				color: black;
				font-size: 14px;
				margin-bottom: 15px;
				font-weight: 600;
			}

			&__role {
				color: #8791A0;
				font-size: 12px;
				margin-bottom: 6px;
				font-weight: 500;
			}

			&__text {
				color: #555C68;
				font-size: 20px;
				white-space: pre-line;
				line-height: 30px;
				margin-top: 20px;
				letter-spacing: -0.22px;
				&::after {
					content: '';
					display: inline-block;
					background: url('../../assets/icons/quotes_before.svg') no-repeat;
					background-size: contain;
					background-position: center;
					position: absolute;
					width: 30px;
					height: 30px;
					right: 30%;
					bottom: 50px;
				}

				&::before {
					content: '';
					display: inline-block;
					background: url('../../assets/icons/quotes_after.svg') no-repeat;
					background-size: contain;
					background-position: center;
					position: absolute;
					left: 5%;
					top: 50%;
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	.swiper-pagination {
		&-bullet {
			width: 16px;
			height: 16px;
			background-color: #D2D2D2;;
			&-active {
				width: 20px;
				height: 20px;
				background-color: #101C26;;
			}
		}
	}
}

.swiper-slide-active {
	transform: scale(1) !important;
	box-shadow: 0px 18px 32px 0px rgba(67, 67, 67, 0.14);
}